{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon.png" %}">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/libs/select2/dist/css/select2.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "assets/libs/jquery-minicolors/jquery.minicolors.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "assets/libs/quill/dist/quill.snow.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/style.min.css" %}" >
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                     <a class="navbar-brand" href="/blog/main">
                        <b class="logo-icon p-l-10">
                            <img src="{% static "assets/images/logo-icon.png" %}" alt="logo" /></span>
                           
                        </b>
                        <span class="logo-text">
                            <img src="{% static "assets/images/logo-text.png" %}" alt="logo" /></span>
                            
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "assets/images/users/1.jpg" %}" alt="logo"  alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="/blog/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
            
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/blog/main" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/blog/gastos" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Gastos</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/blog/pagos" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Pagos</span></a></li>
                        
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form class="form-horizontal form-material" id="loginform" method="post" action="/blog/gastos/guardar">
                            {% csrf_token %}
                                <div class="card-body">
                                    <h4 class="card-title">Agregar Gasto</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                             <div class="form-group row">
                                                <label>Fecha:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" id="fechaG" name="fechaG">
                                                            <div class="input-group-append">
                                                               <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right control-label col-form-label">Monto:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="montoG" name="montoG" >
                                                </div>
                                            </div>
                                        </div>
                                     </div>   
                                 </div>
                           
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group row">
                                                <label for="lname" class="col-sm-3 text-right control-label col-form-label">Descripción:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="descripcionG" name="descripcionG" >
                                                </div>
                                            </div>
                                        </div>
                                     </div>   
                                 </div>
                                    
                                    </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                <!-- editor -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <footer class="footer text-center">
                Negocios electrónicos.
            </footer>
        </div>
    </div>
    
    <script src="{% static "assets/libs/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "assets/libs/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "assets/libs/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/libs/perfect-scrollbar/dist/perfect-scrollbar/jquery.min.js" %}"></script>
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="{% static "dist/js/waves.js" %}"></script>
    <script src="{% static "dist/js/sidebarmenu.js" %}"></script>
    <script src="{% static "dist/js/custom.min.js" %}"></script>
    <script src="{% static "assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js" %}"></script>
    <script src="{% static "dist/js/pages/mask/mask.init.js" %}"></script>
    <script src="{% static "assets/libs/select2/dist/js/select2.full.min.js" %}"></script>
    <script src="{% static "assets/libs/select2/dist/js/select2.min.js" %}"></script>
    <script src="{% static "assets/libs/jquery-asColor/dist/jquery-asColor.min.js" %}"></script>
    <script src="{% static "assets/libs/jquery-asGradient/dist/jquery-asGradient.js" %}"></script>
    <script src="{% static "assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js" %}"></script>
    <script src="{% static "assets/libs/jquery-minicolors/jquery.minicolors.min.js" %}"></script>
    <script src="{% static "assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "assets/libs/quill/dist/quill.min.js" %}"></script>
    <script>
        $(".select2").select2();
        $('.demo').each(function() {

        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
</body>

</html>